# Amostragem Estratificada

In [8]:
# imports de bibliotecas
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
# carregamento da base de dados e contagem de registros por classe
df = pd.read_csv('../dados/iris.csv')
df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [10]:
# df.iloc[:, 0:4]: buscamos somente os atributos previsores, dados de petalas e setalas
# df.iloc[:, 4]: buscamos a especie/classe
# test_size: selecionamos 50% da base de dados que serão copiados para as variaveis x e y. A função retorna 4 valores
# porem, so vai set utilizado 50% da base de dados, colocamos _ para outros valores
# stratify: para retornar a amostra baseada na classe:

x, _, y, _ = train_test_split(df.iloc[:, 0:4], df.iloc[:, 4], test_size= 0.5, stratify= df.iloc[:,4])

y.value_counts()

class
Iris-setosa        25
Iris-virginica     25
Iris-versicolor    25
Name: count, dtype: int64

In [11]:
# Carregamento da base de dados infert
df2 = pd.read_csv("../dados/infert.csv")
df2

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [12]:
df2['education'].value_counts()

education
6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: count, dtype: int64

In [14]:
# Criação da amostra estratificada de 40% dos registros(test_size definido em 0.6, a geração é inversa)
x1, _, y1, _ = train_test_split(df2.iloc[:, 2:9], df2.iloc[:,1], test_size=0.6, stratify=df2.iloc[:,1])

y1.value_counts()

education
6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: count, dtype: int64